h3{
  margin: 0 0 0 0 ;
}

.grid {
  display: grid;
   grid-template-columns: 210px 30% 30% auto;
   grid-template-rows: 60px 550px 35%;
   grid-template-areas:
     "mnue navbar navbar navbar"
     "sidemune dashbord dashbord dashbord"
     "sidemune dashbord dashbord dashbord";
 }

.navbar { grid-area: navbar; }
.mnue {
   grid-area: mnue;
   background-color: #46a9d4;
  }
.sidemune {
   grid-area: sidemune;
   background-color: #484a69;
  }
.dashbord {
  grid-area: dashbord;
  background-color: #dde9ed;
 }

 .btn {
 	text-decoration:none;
 	font-family:Arial;
 	background:#ffffff;
 	background:-o-linear-gradient(90deg, #ffffff, #ffffff);
 	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
 	background:-webkit-linear-gradient(#ffffff, #ffffff);
 	background:-ms-linear-gradient(#ffffff, #ffffff);
 	background:linear-gradient(#ffffff, #ffffff);
 	text-indent:0px;
 	line-height:3px;
 	-moz-border-radius:25px;
 	-webkit-border-radius:25px;
 	border-radius:25px;
 	text-align:center;
 	vertical-align:middle;
 	display:inline-block;
 	font-size:14px;
 	color:#bfbfbf;
 	width:142px;
 	height:12px;
 	padding:13px;
 	border-color:#ffffff;
 	border-width:2px;
 	border-style:solid;
 }

 .btn:active {
 	position:relative;
 	top:3px
 }

 .btn:hover {
 	background:#ffffff;
 	background:-o-linear-gradient(90deg, #ffffff, #ffffff);
 	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
 	background:-webkit-linear-gradient(#ffffff, #ffffff);
 	background:-ms-linear-gradient(#ffffff, #ffffff);
 	background:linear-gradient(#ffffff, #ffffff);
  color:#46a9d4;
  border-color:#00d2f7;
 }

.btn-margin{
  margin: 0.7% 0.2% 0.2% 1%;
}
.serach{
  padding-left: 40%;
  padding-top: 1%;
}
.time{
  display: flex;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  padding: 3% 4% 3% 4%;
}

.profile-pic{
  width: 4%;
  height : auto;
  padding: 0% 1.5% 0% 2.5%;
}
/* sidemnue */

.grid-sidemune {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1.1fr 1.1fr 0.3fr;
  grid-template-areas:
    "data"
    "profile"
    "space"
    "add";
}
.data { grid-area: data; }
.profile { grid-area: profile; }
.space { grid-area: space; }
.add { grid-area: add; }
.background-color-side{
    background-color: #505275;
}
.h3-header{
  font-size: 0.8rem;
  margin: 15% auto 3% auto;
  padding: 0 25% 0 15%;
  color: #9f9fb0;

}
h2{
  padding: 3% 5% 5% 10%;
  font-size: 1.3rem;
  color: #9f9fb0;
  margin: 0 0 0% 0 ;
}
h2:hover{
  background-color: #484a69;
  color: white;
}
.main-side{
  display:
}
.icon-side{
  width: 15%;
  height: auto;
  padding: 0% 3% 0% 3% ;
}

.btn-add {
  -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    margin: 8% auto 0 12% ;
}

.btn-add:active {
	position:relative;
	top:3px
}

.btn-add:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* dashbord */
.grid-dashbord {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "Conversion-Percentag Conversion-Percentag Average-Conversion"
    "Margin-Percentage New-Additions New-Additions";
}
.Conversion-Percentag {
  grid-area: Conversion-Percentag;

 }
.Average-Conversion { grid-area: Average-Conversion; }
.New-Additions { grid-area: New-Additions; }
.Margin-Percentage { grid-area: Margin-Percentage; }
.margin-box{
  margin: 25px 25px 25px 25px;

}

.header{
  background-color: #46a9d4;
  border-radius: 10px 10px 0px 0px ;
  text-align: center;

}

.main{
  background-color: white;
  border-radius: 0px 0px 10px 10px ;
  text-align: center;
}

.garhp-img{
  width: 95%;
  height: auto;
}
